<main class="survey-content">
	<header>
		<img class="survey-header-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=HEADER%20IMAGE&w=700&h=312" alt="header"/>
	</header>
	<div class="survey-greeting">{{data.greeting}}</div>
	{{> form}}
	<div class="survey-thanks">{{data.thanks}}</div>
</main>
