@import './core/reset.less';
@import './core/variable.less';
@import './core/mixin.less';
@import './core/fonts.less';

body {
	margin: 0;
	background-color: @color-gray;
	font-family: @font-primary;
}

body * {
	box-sizing: border-box;
}

.survey-greeting {
	.content-spacing();
	font-size: 24px;
	text-align: justify;
	line-height: 34px;
}

.survey-content {
	background-color: @color-white;
	margin: 0 auto 100px;
	padding: 0 100px 100px;
	width: 900px;
	min-height: 90vh;
}

.survey-question-container {
	.content-spacing();	
}

.survey-thanks {
	.content-spacing();
	font-size: 24px;
	line-height: 30px;
}

/*
	/// User info
 */
.survey-userinfo {
	.survey-section-heading {
		font-size: 24px;
		font-weight: bold;
	}	

	.survey-section-subheading {
		font-size: 20px;
		font-weight: normal;
	}

	.survey-userinfo-field {
		font-family: @font-secondary;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 0;

		label {
			font-size: 16px;
			padding: 5px 0;
			display: block;
		}

		select {
			display: block;
			background-color: @color-white;
		    border: 1px solid @color-gray-2;
		    padding: 5px 0;
		    border-radius: 2px;
		    font-size: 16px;
		    width: 200px;
    		height: 30px;
		}
	}
}

/*
	Other form questions
 */
.survey-section {
	font-family: @font-secondary;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.survey-section-question {
	font-size: 24px;
	padding: 10px 0;
	position: relative;	
}

.survey-qestion-text {
	width: 70%;
}

.survey-response-widget {
	position: absolute;
	top: 0;
	right: 0;
}


.survey-response label {
  border: 3px solid black;
  width: 15px;
  height: 15px;
  overflow: hidden;
  display: inline-block;
  transform: rotate(45deg);
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.survey-response label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
}

.survey-response input {
  opacity: 0;
  cursor: pointer;
}

.generate-response-selection-design(@n, @i: 1) when (@i =< @n) {
	.survey-response-widget[response='@{i}'] label:nth-child(-n+@{i}) {
	  background-color: @color-black;
	}	
	.generate-response-selection-design(@n, (@i + 1));
}

.generate-response-selection-design(5);



.survey-section-comment-label {
	font-family: @font-secondary;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 30px 0 10px	
}

.survey-section-comment {
	width: 100%;
	height: 50px;
}

.survey-final-comment {
    width: 100%;
    height: 200px;	
}


/*
	Form actions
 */
.survey-form-actions {
	display: flex;
    justify-content: center;

    button {
    	.survey-section();
    	width: 224px;
    	height: 55px;
    	border: none;
    	margin: 0 5px;
    }

    &.step-first {
    	.survey-form-prev,
    	.survey-form-submit {
    		display: none;
    	}
    }

    &.step-mid {
    	.survey-form-submit {
    		display: none;
    	}
    }

    &.step-submit {
    	.survey-form-next {
    		display: none;
    	}
    }

    &.step-last {
    	.survey-form-prev,
    	.survey-form-next,
    	.survey-form-submit {
    		display: none;
    	}
    }   
}

.survey-form-prev {
	color: @color-gray-2;
	background-color: @color-gray-3;
}

.survey-form-next,
.survey-form-submit {
	color: @color-white;
	background-color: @color-black;
}

.survey-form-step {
	display: none;
	transition: transform 500ms ease, opacity 500ms ease;

	&[aria-current='false'] {
		transform: translate(-100%);
	}
	
	&[aria-current='true'] {
		display: block;
	}

	&[aria-current='true'] ~ [aria-current='false'] {
		transform: translate(100%);
	}

}

/*
	Form step animation
 */
.survey-form-steps-list {
	overflow: hidden;

	&.animation-next {
		.survey-form-step {
			opacity: 0.2;

			&[aria-current='true'] {
				transform: translate(-100%);
			}			
		}
	}

	&.animation-prev {
		.survey-form-step {
			opacity: 0.2;

			&[aria-current='true'] {
				transform: translate(100%);
			}
		}
	}
}

/*
	Validation error 
 */
.survey-error-required {
	border-color: @color-red;
    box-shadow: 0 0 5px 2px @color-red;
}

/*
	Response Hints
 */

.survey-hints-container {
	margin: 50px 0;
}

.survey-hints {
	display: flex;
}

.survey-hint-visual {
    width: 60%;
    display: block;
}

/*
	Narrow Style
 */
@media screen and (max-width: 768px) {
	.survey-content {
    	margin: 0;
    	padding: 0 10px 10px;
    	width: 100%;
	}

	.survey-header-image {
		width: 100%;
	}

	.survey-qestion-text {
		width: 100%;
	}

	.survey-response-widget {
		position: static;
		margin-top: 10px;
	}

	.survey-section-comment {
		width: 100%;
		height: 50px;
	}

}
