@import './core/variable.less';

body {
	margin: 0;
	background-color: @color-gray;
}

body * {
	box-sizing: border-box;
}

.survey-content {
	background-color: @color-white;
	margin: 0 auto 200px;
	padding: 0 100px 100px;
	width: 900px;
	
}